_res_dbox
_layout
_database
phpshell
uploads
typo3temp
typo3
.sass-cache
/fileadmin/contents
/_RES
/typo3_src*
/fileadmin/_processed_
/.idea
/fileadmin/user_upload
typo3conf/ext/_przydatne rzeczy/
*.log
*.lnk
fileadmin/_temp_
ENABLE_INSTALL_TOOL
DUMP-files
index.php