
<h1>SIMPLE CONTAINER</h1>
<div id="fce-container" class="">
	<div class="simple-container" style="">
		col1 content
	</div>
	<div class="code-after">raw html code here</div>
</div>

<h1>2-COL ELEMENT</h1>
<div id="fce-2-cols">
	<div class="cols fce-2cols" style="">
		<div class="col col1" style="">
			<div class="content-pre"></div>
			<div class="content">col1 content</div>
			<div class="content-post"></div>
		</div>
		<div class="col col2" style="">
			<div class="content-pre"></div>
			<div class="content">col2 content</div>
			<div class="content-post"></div>
		</div>
		<div class="code-after">raw html code here</div>
	</div>
</div>

<h1>2-COL EQUAL ELEMENT</h1>
<div id="fce-2-cols-eq">
	<div class="cols fce-2cols row" style="">
		<div class="col col1 col-sm-6 col-xs-12" style="">
			<div class="content-pre"></div>
			<div class="content">col1 content</div>
			<div class="content-post"></div>
		</div>
		<div class="col col2 col-sm-6 col-xs-12" style="">
			<div class="content-pre"></div>
			<div class="content">col2 content</div>
			<div class="content-post"></div>
		</div>
		<div class="code-after">raw html code here</div>
	</div>
</div>

<h1>3-COL ELEMENT</h1>
<div id="fce-3-cols">
	<div class="cols fce-3cols row" style="">
		<div class="col col1 col-xs-4" style="">
			<div class="content-pre"></div>
			<div class="content">col1 content</div>
			<div class="content-post"></div>
		</div>
		<div class="col col2 col-xs-4" style="">
			<div class="content-pre"></div>
			<div class="content">col2 content</div>
			<div class="content-post"></div>
		</div>
		<div class="col col3 col-xs-4" style="">
			<div class="content-pre"></div>
			<div class="content">col3 content</div>
			<div class="content-post"></div>
		</div>
		<div class="code-after">raw html code here</div>
	</div>
</div>
