<table colspan="0" rowspan="0" border="0" width="100%">
<tr>
	<!--<td width="20%">###top-left###</td>-->
	<td colspan="1" width="100%">###top-main###</td>
	<!--<td width="20%">###top-right###</td>-->
</tr>
<tr>
	<td colspan="1"><hr style="border:0 none; border-bottom:3px solid #555" /></td>
</tr>
<tr>
	<!--<td colspan="1" width="20%">###main-content-left###</td>-->
	<td colspan="1" width="60%">###main-content###</td>
	<!--<td colspan="1" width="20%">###main-content-right###</td>-->
</tr>
</table>
